asgiref==3.2.3
beautifulsoup4==4.8.2
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
cssselect2==0.2.2
defusedxml==0.6.0
Django==3.0.2
django-bootstrap3==12.0.3
django-bootstrap4==1.1.1
django-crispy-forms==1.8.1
html5lib==1.0.1
Pillow==7.0.0
psycopg2-binary==2.8.4
pycparser==2.19
Pyphen==0.9.5
pytz==2019.3
reportlab==3.5.32
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
