{% extends "base3.html" %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <h1>Reset your password</h1>
    <hr>
    {% if validlink %}
        <p class="para">Please enter your new password twice:</p>
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="." class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token%}
                            {% include 'account/form_template.html'%}
                            <input type="hidden" name="next" value="{{ next }}" />
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="Submit" class="btn btn-primary">Change my password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p class="para">{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset' %}.</p>
    {% endif %}
</div>

{% endblock %}
