{% extends 'base2.html' %}
{% load static %}
{% block title %} Employees {% endblock %}


{% block content %}
{% load crispy_forms_tags %}
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger">
    <strong>{{ message|escape }}</strong>
</div>
{% else %}
<div class="alert alert-success">
    <strong>{{ message|escape }}</strong>
</div>
{% endif %}
{% endfor %}
{% endif %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Employees</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading" style="margin-bottom:5px">
                <a href="{% url 'payroll:new_employee' %}" style="color:white" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add </a>
            </header>
            <!--Modal: modalConfirmDelete-->
            <div class="modal fade" id="add_employee" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <!--Content-->
                    <form class="form-horizontal tabular-form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{employee_form|crispy }}
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-8 col-sm-10">
                                    <input type="submit" class="btn-primary btn" value="Save">
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="modal-content text-center">
                        <!--Header-->
                        <div class="modal-header d-flex justify-content-center">
                            <p class="heading">Are you sure?</p>
                        </div>


                        <!--Footer-->
                        <div class="modal-footer flex-center" style="text-align:center">
                            <a href="#" class="btn  btn-success">Yes</a>
                            <a type="button" class="btn  btn-danger waves-effect"
                               data-dismiss="modal">No</a>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: modalConfirmDelete-->
            <table class="table table-hover p-table   responsive" width="100%" id="checked">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>National Id</th>
                </tr>
                </thead>
                <tbody>
                {% for emp in employees %}
                <tr>
                    <td class="p-name">
                        <a href="{{ emp.id }}">{{emp.first_name}}</a>
                    </td>
                    <td class="p-name">
                        <a href="{{ emp.id }}">{{emp.middle_name}}</a>
                    </td>
                    <td class="p-name">
                        <a href="{{ emp.id }}">{{emp.last_name}}</a>
                    </td>
                    <td class="p-name">
                        <a href="{{ emp.id }}">{{emp.national_id}}</a>
                    </td>
                    <td>
                        <a href="{{ emp.id }}" class="btn btn-primary btn-xs"><i
                                class="fa fa-folder"></i> View
                        </a>
                        <a href="{{ emp.id }}/edit" class="btn btn-info btn-xs"><i
                                class="fa fa-pencil"></i> Edit </a>
                        <a role="button" style="color:white" class="btn btn-danger btn-xs" data-toggle="modal"
                           data-target="#modalConfirm"><i class="fa fa-trash-o"></i> Delete </a>

                        <!--Modal: modalConfirmDelete-->
                        <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                <!--Content-->
                                <div class="modal-content text-center">
                                    <!--Header-->
                                    <div class="modal-header d-flex justify-content-center">
                                        <p class="heading">Are you sure?</p>
                                    </div>


                                    <!--Footer-->
                                    <div class="modal-footer flex-center" style="text-align:center">
                                        <a href="{{ emp.id }}/delete" class="btn  btn-success">Yes</a>
                                        <a type="button" class="btn  btn-danger waves-effect"
                                           data-dismiss="modal">No</a>
                                    </div>
                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <!--Modal: modalConfirmDelete-->
                    </td>
                    {% empty %}
                    <td class="p-name">
                        <a>You haven't added any employees yet</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <!-- page end-->

    </div>
    <!-- Content Row -->


    <!-- Content Row -->
</div>
<!-- End of Main Content -->

{% endblock %}
