{% extends 'base2.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %} Update employee {% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger">
    <strong>{{ message|escape }}</strong>
</div>
{% else %}
<div class="alert alert-success">
    <strong>{{ message|escape }}</strong>
</div>
{% endif %}
{% endfor %}
{% endif %}
<div class="container container-fluid">
    <div class="text-center">
        <form method="POST" enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            {% crispy employee_form %}
        </form>
    </div>
</div>
{% endblock %}