{% extends 'base2.html' %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">KRA</h1>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Year-Month</th>
                <th scope="col">Report</th>
            </tr>
        </thead>
        <tbody>
            {% for month in months  %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ month.month_year }}</td>
                    <td><a href="{{ month.month_year }}" class="btn btn-info">View Report</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}