{% extends 'base2.html' %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% block content %}
    <div class="container container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">KRA Report for {{ month }}</h1>
            <a href="download" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Employee Pin</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Total Cash</th>
                    <th scope="col">Total Gross Pay</th>
                    <th scope="col">NSSF Contribution</th>
                    <th scope="col">Chargable Pay</th>
                    <th scope="col">Tax Charged</th>
                    <th scope="col">Personal Relief</th>
                    <th scope="col">P.A.Y.E Tax</th>
                </tr>
            </thead>
            <tbody>
                 {% for payrol in payroll %}
                     <tr>
                        <th scope="row">{{ payrol.employee_id.kra_pin }}</th>
                        <td>{{ payrol.employee_id.first_name }} {{ payrol.employee_id.middle_name }} {{ payrol.employee_id.last_name }}</td>
                        <td>{{ payrol.gross_pay }}</td>
                        <td>{{ payrol.gross_pay }}</td>
                        <td>{{ payrol.nssf_deduction }}</td>
                        <td>{{ payrol.gross_pay }}</td>
                        <td>{{ payrol.payee }}</td>
                        <td>{{ payrol.personal_relief }}</td>
                        <td>{{ payrol.total_tax }}</td>
                     </tr>
                 {% endfor %}
                <tr>
                    <th scope="row">Totals</th>
                    <td></td>
                    <td>{{ gross_pay_total }}</td>
                    <td>{{ gross_pay_total }}</td>

                </tr>
            </tbody>
        </table>
    {#    <a href="download" class="btn btn-outline-info"> Download</a> #}
    </div>
{% endblock %}