{% extends 'base2.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %} NHIF {% endblock %}


{% block content %}
 <!-- Begin Page Content -->
            <div class="container container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">NHIF</h1>
{#                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
{#                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
                </div>

               <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Year-Month</th>
                            <th scope="col">Report</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for month in months  %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ month.month_year }}</td>
                                <td><a href="{{ month.month_year }}" class="btn btn-info">View Report</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- End of Main Content -->

{% endblock %}
