{% extends 'base2.html' %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% block content %}
    <div class="container container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">NSSF Report for {{ month }}</h1>
            <a href="download" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">PERSONAL NUMBER</th>
                    <th scope="col">SURNAME</th>
                    <th scope="col">OTHER NAMES</th>
                    <th scope="col">ID NO</th>
                    <th scope="col">KRA PIN</th>
                    <th scope="col">NSSF NO</th>
                    <th scope="col">GROSS PAY</th>
                    <th scope="col">NSSF DEDUCTION</th>
                </tr>
            </thead>
            <tbody>
                {% for payrol in payroll %}
                <tr>
                    <th scope="row">{{ payrol.employee_id.employee_personal_number }}</th>
                    <td>{{ payrol.employee_id.middle_name }}</td>
                    <td>{{ payrol.employee_id.first_name }} {{ payrol.employee_id.last_name }}</td>
                    <td>{{ payrol.employee_id.national_id }}</td>
                    <td>{{ payrol.employee_id.kra_pin }}</td>
                    <td>{{ payrol.employee_id.nssf_no }}</td>
                    <td>{{ payrol.gross_pay }}</td>
                    <td>{{ payrol.nssf_deduction }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row"><strong>Total</strong></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>{{ grosspay_total }}</strong></td>
                    <td><strong>{{ nssf_total }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}